In [2]:
import pandas as pd
enumeration_df = pd.read_excel('4999_Enumeration.xlsx')
print(enumeration_df)

               Time   Lentgh   Days  Value
0     8:00am-8:50am  50 mins    M/W      1
1     9:05am-9:55am  50 mins    M/W      2
2   10:10am-11:00am  50 mins    M/W      3
3   11:15am-12:05am  50 mins    M/W      4
4    12:20am-1:10pm  50 mins    M/W      5
5     1:25pm-2:15pm  50 mins    M/W      6
6     2:30pm-3:20pm  50 mins    M/W      7
7     3:35pm-4:25pm  50 mins    M/W      8
8     8:40am-9:55am  75 mins    M/W      9
9     2:55pm-4:10pm  75 mins    M/W     10
10    7:30pm-8:45pm  75 mins    M/W     11
11    8:00am-8:50am  50 mins  Tu/Th     12
12    9:05am-9:55am  50 mins  Tu/Th     13
13  10:10am-11:00am  50 mins  Tu/Th     14
14  11:15am-12:05am  50 mins  Tu/Th     15
15   12:20am-1:10pm  50 mins  Tu/Th     16
16    1:25pm-2:15pm  50 mins  Tu/Th     17
17    2:30pm-3:20pm  50 mins  Tu/Th     18
18    3:35pm-4:25pm  50 mins  Tu/Th     19
19    8:40am-9:55am  75 mins  Tu/Th     20
20  10:10am-11:25am  75 mins  Tu/Th     21
21  11:40am-12:55am  75 mins  Tu/Th     22
22    1:25pm-2:40pm  75 mins  Tu/Th     23
23    2:55pm-4:10pm  75 mins  Tu/Th     24
24    7:30pm-8:20pm  50 mins      M     25
25    8:35pm-9:25pm  50 mins      M     26
26    7:30pm-8:20pm  50 mins      W     27
27    8:35pm-9:25pm  50 mins      W     28
28    8:00am-8:50am  50 mins      F     29
29    9:05am-9:55am  50 mins      F     30
30  10:10am-11:00am  50 mins      F     31
31  11:15am-12:05am  50 mins      F     32
32   12:20am-1:10pm  50 mins      F     33
33    1:25pm-2:15pm  50 mins      F     34
34    2:30pm-3:20pm  50 mins      F     35
35    3:35pm-4:25pm  50 mins      F     36

In [4]:
pivot_df = enumeration_df.pivot(index='Time', columns='Days', values='Value')
print(pivot_df)

Days                F     M   M/W  Tu/Th     W
Time
10:10am-11:00am  31.0   NaN   3.0   14.0   NaN
10:10am-11:25am   NaN   NaN   NaN   21.0   NaN
11:15am-12:05am  32.0   NaN   4.0   15.0   NaN
11:40am-12:55am   NaN   NaN   NaN   22.0   NaN
12:20am-1:10pm   33.0   NaN   5.0   16.0   NaN
1:25pm-2:15pm    34.0   NaN   6.0   17.0   NaN
1:25pm-2:40pm     NaN   NaN   NaN   23.0   NaN
2:30pm-3:20pm    35.0   NaN   7.0   18.0   NaN
2:55pm-4:10pm     NaN   NaN  10.0   24.0   NaN
3:35pm-4:25pm    36.0   NaN   8.0   19.0   NaN
7:30pm-8:20pm     NaN  25.0   NaN    NaN  27.0
7:30pm-8:45pm     NaN   NaN  11.0    NaN   NaN
8:00am-8:50am    29.0   NaN   1.0   12.0   NaN
8:35pm-9:25pm     NaN  26.0   NaN    NaN  28.0
8:40am-9:55am     NaN   NaN   9.0   20.0   NaN
9:05am-9:55am    30.0   NaN   2.0   13.0   NaN

In [5]:
enumeration_matrix = pivot_df.values
print(enumeration_matrix)

[[31. nan  3. 14. nan]
 [nan nan nan 21. nan]
 [32. nan  4. 15. nan]
 [nan nan nan 22. nan]
 [33. nan  5. 16. nan]
 [34. nan  6. 17. nan]
 [nan nan nan 23. nan]
 [35. nan  7. 18. nan]
 [nan nan 10. 24. nan]
 [36. nan  8. 19. nan]
 [nan 25. nan nan 27.]
 [nan nan 11. nan nan]
 [29. nan  1. 12. nan]
 [nan 26. nan nan 28.]
 [nan nan  9. 20. nan]
 [30. nan  2. 13. nan]]